*{
  font-family: Noto Sans Lao;
  box-sizing: border-box;
}

.title{
  text-align: center;
  color: tomato;
}

.incomes{
  color: #2ccc71;
}

.expenses{
  color: red;
}

body{
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0
}

.content{
  margin: 30px auto;
  width: 350px;
  
}

.horizontal-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F39C12;
  text-align: center;
  border-radius: 10px;
}

.horizontal-menu li{
  display: inline-block;
}

.horizontal-menu a{
  color: #000000;
  text-decoration: none;
  padding: 15px;
}